body {
  font-family: sans-serif;
  background-color: #e6f7ff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0099cc;
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}

img {
  width: 300px;
  display: block;
  margin-bottom: 20px;
}

h2 {
  color: #006699;
}

nav {
  padding: 10px;
}

footer {
  text-align: center;
  background-color: #cccccc;
  padding: 10px;
}
